---
import '../styles/global.css'

const pageTitle = "Su di me";

const identity = {
  firstName: "xfuryred",
  country: "Italia",
  occupation: "Sognatore",
  hobbies: ["scrivere su questo blog", "fare lunghe passeggiate", "ascoltare musica"],
};

const skills = ["Astro", "Algebra Lineare", "Nuovi piatti gustosi"];

// const skillColor = "navy";
---

<html lang="it">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style>
     .skill {
		color: navy;
		font-weight: bold;
	  } 
	  h1 {
        color: purple;
        font-size: 4rem;
      }
    </style>
	</head>
	<body>

        <a href="/">HOME</a>
		<a href="/blog">BLOG</a>
        <a href="/about">Su di me</a>
        
        <h1>EscApe</h1>
        
		<h1>{pageTitle}</h1>
		
        <h2>NO ai social, SI al blog</h2>

        <p>Mi chiamo {identity.firstName} e vengo dall'{identity.country}, sono principalmente un {identity.occupation};</p>
		<p>I miei hobby sono {identity.hobbies[0]}, {identity.hobbies[1]}, {identity.hobbies[2]}</p>
		<p>ho sempre trovato i social spiacevoli, perché presuppongono che ci debba essere non solo uno scambio di idee ma anche un'interazione tra esse</p>
        <p>Sulla carta tutto bellissimo, ma nella realtà X (l'ormai defunto twitter) è la dimostrazione di quanto ci sia di più sbagliato in un modello simile.</p>
        
		<p>In questo periodo comunque sto cercando di studiare, ho iniziato a farlo con:</p>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>
	</body>
</html>
